# Nix build results
result
result-*

# Home Manager backups
*.backup

# Editor temp files
*.swp
.idea/
.vscode/

# Secrets
*.age
*.secret
*.local
winapps.conf
winapps.conf.local
secrets.conf

# Keys
/keys/
id_rsa
id_ed25519
*.pem
*.bak

#media
hosts/nix-media/secrets/
*.secret
*.env
hosts/*/secrets/
