# Nix build results
result
result-*

# Home Manager backups (defined in your default.nix)
*.backup

# Editor temp files
*.swp
.idea/
.vscode/

# Private keys/secrets (Manual safety net)
*.age

# Secrets & Lokale Configs
*.secret
*.local
winapps.conf
winapps.conf.local

# Falls du sops-nix noch nicht nutzt, aber Keys herumliegen hast:
/keys/
id_rsa
id_ed25519
*.pem
